#googleAuthentification, #emailAuth
{
    margin-top: 5px;
}

#register {
    display: none;
}
#nav {
    display: none;
    background: rgb(63,81,181);
}
#map {
    display: none;
    overflow: visible;
    height: 100%;
    margin: 0 5%;
}
#home{
    display: none;
    margin: 0 5%;
}
#registerEmail{
    display: none;
}
#login{
    display: none;
}
html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    }
    main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      main, footer, header {
        padding-left: 0;
      }
    }
form {
  width: 75%;
  margin: 0 auto 0;
  padding: 20px;
}
h1{
    text-align: center;
    margin: 10px 0 !important;
    line-height: 1.20 !important;
}
h2{
  height: 100px;
  width: 100%;
  font-size: 18px !important; 
  background:rgb(63,81,181);
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
  box-sizing: border-box;
  padding: 20px;
  text-shadow: none !important;
  font-weight: normal !important;
}

href{
     cursor:pointer;
     color: #6E6E6E; 
     text-decoration:underline;
}
.material-icons.orange600 {color: white;
font-size: 48px;}
.loginFenster
{
    margin: 17% auto;
    text-align: center;
}